<div class='container'>
  <h1 class='title is-center'>Sign Up</h1>
  <%= form_with model: @user do |f| %>
  <div class="field">
    <p class="control has-icons-left has-icons-right">
    <%= f.text_field :name,  placeholder: 'Enter your name', class: 'input is-info' %>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  
  <div class="field">
    <p class="control">
      <%= f.submit 'Sign Up', class: 'button is-success' %> 
    </p>
  </div>
  <% end %>
</div>