<%= form_with model: @user do |f| %>
<section class='section is-full'>
    <div class='container'>
        <h1 class="title">Sign Up</h1>
        <div class='column is-half'>
          <div class='control'>
            <%= f.text_field :name, placeholder: 'Enter Name', class: 'input is-info' %>
          </div>
          <br>
          <div class='control'>
            <%= f.text_field :email, placeholder: 'Enter Email', class: 'input is-info' %>
          </div>
          <br>
          <div class="field is-grouped">
            <div class="control">
              <%= f.submit "Sign Up", class: 'button is-link' %>
            </div>
          </div>
        </div>
        
    </div>
</section>
<% end %>

