
<section class='section container'>
<div class='content'>
  <%= show_user_create(current_user) %>
  
</div>
</section>

<section class='section container'>
<div class='content'>
<%= render 'events' %>
</div>
</section>
