<br>
<br>
<br>
<br>

<% if flash[:notice] %>
  <div class="notification is-primary">
    <%= flash[:notice] %>
  </div>
<% end %>


<% if flash[:notice] %>
  <div class="notification is-primary">
    <%= flash[:alert] %> 
  </div>
<% end %>