<% @created_events.each do |event| %>
        <div class='subtitle'> Creator:
       <strong> <%= event.creator.name %></strong><br>
            <caption>Desc:  <%= event.description %> </caption><br>
            <small>Date: <%= event.event_date %></small>
         </div>  

           
        
    <%#= show_creator(post.user) %>
  <%end %>